@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');
/*----------------------------------------------------------------
- Font Family
----------------------------------------------------------------*/
p, 
.btn, 
.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form {
    font-family: 'Poppins', sans-serif;
}

h1, 
h2, 
h3, 
h4 {
    font-family: 'Source Sans Pro', sans-serif;
}
/*----------------------------------------------------------------
    Branding Colour
----------------------------------------------------------------*/

header a, 
header span, 
#header2a a:hover, 
#header2a:before, 
#header2b a,
#header2b a:hover {
    color: #1a4d86;
}

body, 
ul li, 
.formbuilder-form label {
    line-height: 23px;
    font-size: 17px;
    color: #797979;
}

ul li {
    line-height: 30px;
}

h2,
h3 {
    color: #797979;
    font-weight: 600;
}

h2 {
    font-size: 35px;
}

#services h3 {
    font-weight: 400;
    color: #e5f1f7;
}

#services p {
    font-weight:100;
    color: #fff;
}

#contact h2,
#banner h1, 
#banner p, 
#contact p {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


#header2b a, 
.btn, 
.btn:hover, 
.btn:focus, 
.btn:active, 
.formbuilder-form input#submit-form,
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover {
    text-decoration: none;
}

/*----------------------------------------------------------------
- Form
----------------------------------------------------------------*/

.form, #quote_form_form, 
#extraFormsContainer .modal-dialog {
    border-radius: 5px;
    box-shadow: 0 10px 15px 2px rgba(0,0,0,.2);
    background-color: rgb(255, 255, 255);
}

/*----------------------------------------------------------------
- Buttons
----------------------------------------------------------------*/

.btn {
    color: #ffffff;
    background: transparent;
    border:2px solid #fff;
    border-radius:15px;
}

.btn:hover {
    border:none;
    background: rgba(0,107,160,0.75);

}
.formbuilder-form input#submit-form, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form  {
    background-color: rgba(20, 104, 168, 1);
    color: #fff;}
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover  {
    background-color: #211d1a;
    color: rgb(255, 255, 255);
}

/*----------------------------------------------------------------
    Custom Styles
----------------------------------------------------------------*/

#contact2c,
#contact2d, 
#contact2e,
#contact2e,
#contact2f,
#contact2g,
#contact1b,
#content4,
#content5,
#content6 {
    display:none;
}

/*----------------------------------------------------------------
- Header
----------------------------------------------------------------*/

#header{
    padding: 10px;
}

#header2b a{
    font-size: 25px;
}

#header2a:before {
    display:none;
    padding-right: 5px;
}

/*----------------------------------------------------------------
- Banner 
----------------------------------------------------------------*/

#banner, 
#banner h1 {
    margin:0;
    text-align: right;
}

#banner h1 {
    font-size:65px;
}

#banner p {
    font-size: 20px;
}

.banner_cover {
    opacity: 1.0;
    background-color:#fff;
    box-shadow: 0px 2px 50px rgba(0,0,0,0.15);
}

/*----------------------------------------------------------------
- Services
----------------------------------------------------------------*/

#services{
	padding:0px 0 0px 0;
}

#service1,
#service2,
#service3,
#service4 {
    transition: 0.2s 0.2s ease-out;
    padding-top:20px;
    padding-bottom:30px;
}
#service1:hover,
#service2:hover,
#service3:hover,
#service4:hover {
    transform: scale(1.1);
    border-radius:20px;
}

/*----------------------------------------------------------------
- Content
----------------------------------------------------------------*/

#content .img-responsive {
    transition: 0.2s 0.2s ease-out;
}

#content1b, 
#content3b {
    padding-top:35px;
}

#content2a {
    text-align: right;
}

/*----------------------------------------------------------------
    Footer
----------------------------------------------------------------*/

footer *, 
footer a , 
footer {
    color: #555;
}

footer {
    background-color:#f2f2f2;
    padding: 25px 0 25px;
}

/*----------------------------------------------------------------
    Media Queries
----------------------------------------------------------------*/

@media (min-width: 767px) {
    .banner_cover{
        height: 130px;
    }
    #header1 {
        margin-top: 0px;
    }
    #header2 {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 1200px){
    #content1a, 
    #content2b, 
    #content3a,
    #content4b,
    #content5a,
    #content6b {
        width: 60%;
    }

    #content1b, 
    #content2a, 
    #content3b,
    #content4a,
    #content5b,
    #content6a {
        width: 45%;
    }

    #content img {
        width:100%;
    }
}
@media (max-width: 767px) {

    #header2b a {
        font-size:22px;
    }

    #header2a:before {
        font-size: 25px;
    }

    #header2a {
        line-height:36px;
        font-size: 30px;
    }

    #service3 {
        clear:left;
    }

    #banner, 
    #banner h1, 
    #contact h2,
    #content2a  {
        text-align:center;
    }
    
    .banner_cover{
        opacity: 1;
        height: 185px;
    }
    
    #header1 img {
        margin-top:-9px;
    }
        
    #banner h1 {
        font-size:45px;
        line-height: 45px;
    }
    
    .btn {
        padding:15px;
        display:block;
        white-space: normal;
    }
    .content_block {
        padding-bottom:20px;
    }

    #service1:hover,
    #service2:hover,
    #service3:hover,
    #service4:hover {
        transform: scale(1.0);
    }
}
@media (max-width:400px) {
    #banner h1 {
        font-size:35px;
    }
    #banner p {
        font-size:17px;
    }
}
/*- Animation & Extras-*/
#wrapper {display: flex; flex-direction: column;}
#services {padding: 54px 0 33px;order: 2;}
#banner { order: 1; }
#content { order: 3; }
#contact { order: 4; }
footer { order: 5; }

#banner1 {
    animation:move 2s ease;
    width: 100%;
}

@-webkit-keyframes move {
    from {transform: scale(0.8);opacity:0;}
    to {transform: scale(1.0);opacity:1;}
}

.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.open>.dropdown-toggle.btn,
.formbuilder-form input#submit-form:hover, 
#extraFormsContainer .modal-dialog .formbuilder-form input#submit-form:hover,
#service1:hover,#service2:hover,#service3:hover,#service4:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
}